html{
	font-family: "Arial";
}
@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.head{
	width: 100%;
	height: 990px;
	background: url(../img/bg1.png) 0 0 no-repeat;
	margin:0 auto;
}
.head .cover{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}
.head .cover h1{
	padding-top: 142px;
    height: 184px;
    line-height: 184px;
    text-align: center;
    font-size: 62px;
    color: #fff;
    font-weight: normal;
}
.head .desc p{
	text-align: center;
	line-height: 34px;
	height: 34px;
	color: #d1d0cf;
	font-size: 20px;
}
.head .desc{
	margin-bottom: 100px;
}
.head .login{
    width: 970px;
    height: 250px;
    border: 1px solid #545253;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}
.head .login h2{
	padding-top: 50px;
	font-weight: bold;
    height: 32px;
    line-height: 32px;
    color: #d1d0cf;
    font-size: 16px;
}
.head .login p{
    height: 30px;
    line-height: 30px;
    color: #71706c;
    font-size: 12px;
}
.head .login_panel{
	padding-top: 36px;
}
.login_panel input{
	background: none;
	border: 1px solid #524f4c;
	width: 272px;
	height: 48px;
	padding: 0 10px;
	color: #71706c;
	margin-right: 30px;
}
.login_panel button{
	width: 125px;
	height: 50px;
	background: #ffffff;
	border: none;
	border-radius: 4px;
}

/*------------第二部分------------*/
.part2{
	width: 100%;
	height: 710px;
	background: #fff;
	box-sizing: border-box;
}
.part2 .part2_wrap{
	width: 1030px;
	margin: 0 auto;
}
.part2 .part2_head{
	padding: 70px 0 64px 0;
    text-align: center;
}
.part2 .part2_head p{
	line-height: 52px;
	color: #313131;
}
.part2 .part2_head h3{
	line-height: 72px;
	font-size: 42px;
	color: #000;
}
.part2 .mobile{
    background: url(../img/icon.png) 0 0 no-repeat;
}
.part2 .pen{
	background: url(../img/icon.png) 0 -88px no-repeat;
}
.part2 .icon{
	padding-left: 70px;
	height: 90px;
	margin-bottom: 60px;
}
.part2 .content{
	width: 426px;
}
.part2 .icon h3{
    font-size: 20px;
    color: #141414;
    height: 44px;
}
.part2 .icon p{
	line-height: 24px;
}
.part2 .mail{
	background: url(../img/icon.png) 0 -178px no-repeat;
}
.part2 .orga{
	background: url(../img/icon.png) 0 -292px no-repeat;
}
/*-------------------第三部分--------------*/
.part3{
	width: 100%;
	height: 800px;
	background: url(../img/bg2.png) 0 0 no-repeat;
	position: relative;
}
.part3 .cover{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	position: absolute;
	left: 0;
	top: 0;
}
.part3 .content{
	padding: 104px 0 0 240px;
	z-index: 1;
	display: flex;
}
.part3 .left{
	flex: 1;
}
.part3 .text{
	width: 370px;
	padding-top: 50px;
}
.part3 .text h3{
	font-size: 42px;
	color: #e5e5e3;
}
.part3 .text p{
	font-size: 18px;
	color: #d2d3d0;
	line-height: 30px;
}
.part3 .wrap{
	width: 646px;
	height: 600px;
	float: right;
	border: 1px solid #686d6b;
	border-radius: 30px 0 0 30px;
	padding: 30px 0 0 60px;
	box-sizing: border-box;
	position: relative;
}
.part3 .wrap div{
	border: 1px solid #686d6b;
	width: 586px;
	height: 542px;
	background: url(../img/file.png) 0 0 no-repeat;
}
.part3 .wrap:after{
	content: "";
	width: 10px;
	height: 10px;
	border: 1px solid #686d6b;
	border-radius: 50%;
	position: absolute;
	top: 295px;
	left: 25px;
}
.part3 .btn button{
	display: inline-block;
    height: 60px;
    margin: 60px 30px 0 0;
}
.part3 .btn button:first-child{
	width: 240px;
	background: #ffffff;
	color: #141414;
	border: none;
}
.part3 .btn button:last-child{
	width: 235px;
	background: none;
	border: 1px solid #6a6f6a;
	color: #e2e3e3;
}

/*--------------第四部分---------------*/
.part4{
	width: 100%;
	height: 580px;
	border-bottom: 1px solid #ccc;
}
.part4 .cover{
	width: 970px;
	height: 100%;
	margin: 0 auto;
	padding: 60px 0 0 0;
	box-sizing: border-box;
}
.part4 .cover h2{
	text-align: center;
	line-height: 120px;
	font-size: 42px;
	color: #141414;
}
.part4 .cover .content
{
	display: flex;
	margin-top: 50px;
} 
.part4 .content div{
	margin-right: 50px;
	flex: 1;
	text-align: center;
}
.part4 .content div h3{
	font-size: 24px;
	line-height: 60px;
}
.part4 .content div p{
	line-height: 24px;
}
/*-------------------第五部分-------------------*/
.part5{
	width: 100%;
	height: 1000px;
	border-bottom: 1px solid #ccc;
}
.part5 .cover{
	width: 970px;
	height: 100%;
	margin: 0 auto;
	padding-top: 114px;
	box-sizing: border-box;
}
.part5 img{
	width: 570px;
	height: 350px;
}
.part5 .top, .part5 .bottom{
	height: 350px;
}
.part5 .top{
	margin-bottom: 60px;
}
.part5 h3{
	font-size: 20px;
	line-height: 30px;
	padding: 70px 0 20px 0;
}
.part5 p{
	line-height: 28px;
	font-size: 16px;
}
.part5 .top img
{
	float: left;
	margin-right: 100px;
}
.part5 .bottom img{
	float: right;
	margin-left: 100px;
}
/*-------------第六部分-----------------*/
.part6{
	width: 100%;
	height: 1084px;
	border-bottom: 1px solid #ccc;
}
.part6 .cover{
	width: 970px;
	height: 100%;
	margin: 0 auto;
	padding-top: 114px;
	box-sizing: border-box;
}
.part6 .title{
	text-align: center;
	margin-bottom: 50px;
}
.part6 .title h3{
	font-size: 42px;
	line-height: 60px;
}
.part6 .title p{
	font-size: 18px;
	line-height: 26px;
}
.part6 .people .wrap{
	display: inline-block;
    width: 470px;
    height: 340px;
    margin: 0 25px 30px 0;
    position: relative;
}
.part6 .people>div:nth-child(2)
{
	margin-right: 0;
}
.part6 .people>div:nth-child(4)
{
	margin-right: 0;
}
.part6 .wrapover{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.4);
	display: none;
}
.part6 .wrapover .information{
	width: 250px;
	margin: 90px auto;
	text-align: center;
}
.part6 .wrapover .information h4{
	font-size: 20px;
	color: #ffffff;
	margin-bottom: 20px;
}
.part6 .wrapover .information p{
	color: #a6a6a6;
	font-size: 12px;
	margin-bottom: 40px;
}
.part6 .wrapover .information span{
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid #a6a6a6;
	margin-left: 20px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
}
/*-------------第七部分-------------------*/
.part7{
	height: 700px;
	width: 100%;
}
.part7 .cover{
	width: 970px;
	margin: 0 auto;
	padding-top: 100px;
	box-sizing: border-box;
}
.part7 .info{
	float: left;
	width: 470px;
	height: 560px;
	border: 1px solid #ccc;
	padding: 40px 50px;
	box-sizing: border-box;
	border-radius: 10px;
	margin-right: 120px;
}
.part7 .info  p{
	width: 100%;
	text-align: center;
	line-height: 40px;
	margin-bottom: 30px;
	font-size: 16px;
	font-weight: bold;
}
.part7 .info input
{
	width: 100%;
	height: 50px;
}
.part7 .info input[type=text]{
	border: 1px solid #ccc;
	margin-bottom: 30px;
	padding: 0 10px;
	box-sizing: border-box;
}
.part7 .info textarea{
	width: 100%;
	height: 144px;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 30px;
}
.part7 .info input[type = button]
{
    background: #141414;
    border: none;
    border-radius: 5px;
    color: #fff;
}
.part7 .contact
{
	overflow: auto;
}
.part7 .contact h3{
	font-size: 42px;
	padding: 60px;
	line-height: 40px;
}
.part7 .contact p{
	line-height: 25px;
	font-size: 16px;
	color: #141414;
	line-height: 28px;
	margin-bottom: 20px;
}
.part7 .call{
	padding: 20px 0 20px 0;
}
.part7 .iconfont{
	font-size: 20px;
	display: inline-block;
	margin-right: 10px;
}

/*-------------------第八部分--------------*/
.footer{
   width: 100%;
   height: 410px;
   background: #141414;
}
.footer .cover{
	width: 970px;
	margin: 0 auto;
	display: flex;
}

.footer div{
	margin-top: 80px;
	flex: 1;
}
.footer div h4{
	font-size: 16px;
	line-height: 40px;
	color: #fff;
}
.footer ul li{
    height: 40px;
    line-height: 40px;
    color: #676767;
}

.footer .icon p{
    line-height: 26px;
    margin: 20px 0;
}
.footer .icon span{
	display: inline-block;
	width: 40px;
}

